{% extends "base.html" %}

{% block title %}{{ _('Upload Question Bank - Provr') }}{% endblock %}

{% block content %}
<h2>{{ _('Upload Question Bank') }}</h2>

<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div>
        {{ form.name.label }}
        {{ form.name(placeholder=_('Bank name')) }}
        {% for error in form.name.errors %}
            <span>{{ error }}</span>
        {% endfor %}
    </div>

    <div>
        {{ form.file.label }}
        {{ form.file() }}
        {% for error in form.file.errors %}
            <span>{{ error }}</span>
        {% endfor %}
    </div>

    {{ form.submit() }}
</form>

<p>{{ _('Need help formatting your file?') }} <a target="_blank" rel="noopener noreferrer" href="https://github.com/LuisDavidMSilva/provr?tab=readme-ov-file#question-bank-prompt-template">{{ _('format guide') }}</a>.</p>
<a href="{{ url_for('quiz.list_banks') }}">{{ _('Back to My Banks') }}</a>
{% endblock %}